* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    background-color: blanchedalmond;
}

/* header styles */
header {
    z-index: 9999;
    background-size: cover;
    position: sticky;
    top: 0;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 110px;
    padding: 10px;
    background-color: #444444;
    display: flex;
    align-items: center;

}
header a {
    color: #ffffff;
    text-decoration: none;
}
header h1 {
    text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.48);
    color: #ffffff;
    font-weight: bold;
    font-size: 45px;
    text-align: center;


}
header nav {
    margin: 10px 0;

}
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
header nav ul li a {
    text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.48);
    color: #91e4fb;
    font-weight: lighter;
    font-size: 30px;
    text-align: center;
    padding: 10px 25px;

}
section {
    padding: 70px;
}
body h2 {
    text-shadow: 0px 3px 2px rgba(0, 0, 0, 0.45);
    color: #ffffff;
    font-weight: bold;
    font-size: 38px;
    text-align: center;
}

/* about me styles */
.about {
    display: flex;
    flex-wrap: wrap;
}
.about-me {
    flex: 1;
}
.about-img {
    display: flex;
    height: auto;
    width: 100%;
    justify-content: center;
}
.about-img img {
    height: auto;
    max-width: 100%;
    border: 10px solid black;
}
.bio {
    height: auto;
    display: flex;
    padding: 30px 60px 0;
}
.bio p {
    color: #444444;
    font-weight: lighter;
    font-size: 24px;
    line-height: 1.3;
    text-align: center;
    width: 100%;
}
/* work section styles */
article {
    
}
article a {
    font-size: 25px;
    font-weight: bold;
    color: #000;
    text-decoration: none;
}
.first-app {
    flex: 2
}
.sites {
    flex: 1;
    
}
.run-buddy-img {
    position: relative;
}
article img {
    
    height: auto;
    max-width: 100%;
    border: 10px solid black;
}
.run-buddy {
    position: absolute;
    top: 80%;
    left: 10px;
    width: 25%;
    height: 10%;
    font-size: 25px;
    background: #ffffff;
}
.run-buddy a {

}
.my-work {
    display: flex;
}

/* contact me styles */
.contact {
    display: flex;
    justify-content: space-between;
}
.contact h4 {
    font-size: larger;
}
.contact a {
    font-size: larger;
}